<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	c15</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		ServletsRule</display-name>
		<servlet-name>ServletsRule</servlet-name>
		<servlet-class>
		com.nastation.c15.ServletsRule</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EchoForm</display-name>
		<servlet-name>EchoForm</servlet-name>
		<servlet-class>
		com.nastation.c15.EchoForm</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ThreadServlet</display-name>
		<servlet-name>ThreadServlet</servlet-name>
		<servlet-class>
		com.nastation.c15.ThreadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SessionPeek</display-name>
		<servlet-name>SessionPeek</servlet-name>
		<servlet-class>
		com.nastation.c15.SessionPeek</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletsRule</servlet-name>
		<url-pattern>/ServletsRule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EchoForm</servlet-name>
		<url-pattern>/EchoForm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThreadServlet</servlet-name>
		<url-pattern>/ThreadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionPeek</servlet-name>
		<url-pattern>/SessionPeek</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
